.Comment {
  width: 280px;
  flex-shrink: 0;
  margin: 1rem auto;
  color: #fff;
  background-color: #202a3c;
  border: none;
  padding: 2rem 2rem;
}

.comment-text {
  width: 240px;
  color: #fff;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 180% */
}

.comment-image {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 100%;
  margin-right: 8px;
}

.comment-name {
  color: #fff;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 0.5px;
}

.comment-title {
  color: #fff;
  font-family: Open Sans;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 142.857% */
  letter-spacing: 0.5px;
}

.comment-group {
  display: flex;
}

@media (min-width: 700px) {
  .comment-text {
    font-size: 14px;
  }
}
